body,h1,h2,h3,h4,h5,h6{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;;
}

body, html{
    height: 100%;
    width: 100%;
    line-height: 1.4;
	background-color: #edeef0;
    background-size: cover;
	margin: 0;
	padding: 0;
}

header{
    width: 100%;
    height: 48px;
    background-color: #606060;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.60),0 0 16px 0 rgba(0,0,0,0.20);
	margin: 0;
	padding: 0px;
}

footer{
	border-top: solid 1px #bcc1c3;
	background-color: #edeef0;
	height: 54px;
}

/* Full height bg */
.bg-full {
    background-color: #edeef0;
    background-size: cover;
    min-height: calc(100% - 48 - 55);
}

.footer-content{
    color: #606060;
    text-align: center;
    margin: 16px;
    font-size: 70%;
    font-weight: bold;
}

.main-content{
	height: calc(100% - 55px - 49px - 48px);
    padding: 24px;
}

.height-100{
    height: 100%;
}

.parent{
    border: 4px solid #bcc1c3;
	background: #fff;
    display: flex;
	flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    overflow: auto;
	height: 100%;
    width: 100%;
}

.actions {
    width: 45%;
}

.results {
    width: 55%;
}

.card-content{
	width: 100%;
}

.card-content-container{
    padding: 8px 8px 16px 8px;
    display: flex;
	flex-direction: column;
    align-content: center;
    justify-content: space-between;
    overflow: auto;
	height: calc(100% - 24px);
}

.shadow{
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.32),0 0 8px 0 rgba(0,0,0,0.16);
}

.padding-0{
    padding: 0px;
}

.padding-16{
    padding-top: 16px;
    padding-bottom: 16px;
}

.width-80{
    width: 80%;
}

.width-90{
    width: 90%;
}

.button{
    border: 0;
	width: 112px;
	height: 32px;
    background: #000;
    color: white;
    padding: 5px;
	font-weight: bold;
}

.button:disabled {
    opacity: 0.5;
}


.button:hover{
	opacity: 0.7;
}

.button:disabled:hover {
    opacity: 0.5;
}

.animated {
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    transition-property: opacity;
}

.centered{
    margin: auto;
}

.margin-top{
    margin-top: 48px;
}

.margin-24{
    margin-top: 24px;
    margin-bottom: 24px;
}

.margin-8{
    margin-top: 8px;
    margin-bottom: 8px;
}
.margin-16{
    margin-top: 16px;
    margin-bottom: 16px;
}

.slim-text{
    margin-top: 0;
    margin-bottom: 8px;
}

.full-slim-text{
    margin-top: 0;
    margin-bottom: 0;
}

.centered-text{
    text-align: center;
}

.resizedBox {
    border: 4px solid #bcc1c3;
    max-width: calc(100% - 12px);
    min-width: calc(100% - 12px);
    max-height: 300px;
    min-height: 48px;
    height: 300px;
    padding: 2px;
}

table{
    table-layout: fixed;
    border: 0px;
    width: 100%;
}

tr {
    height: 32px;
}

th, td {
    border-bottom: 1px solid #bcc1c3;
    text-align: center;
	padding: 0 5px;
}

.td-medium {
    width: 72px;
}

.td-big {
    width: 128px;
}

.td-nw {
    width: calc(100% - 128px - 72px);
}

.td-w {
    width: calc(100% - 128px - 216px);
}

.td-left{
    text-align: left;
}

.td-right{
    text-align: right;
}

.td-no-border{
    border: none;
}

.td-border-left{
    border-left: 2px solid #bcc1c3;
}

.alert {
    z-index: 5;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 16px;
    width: 60%;
    padding: 8px;
    background-color: #FFFFFF;
    color: #606060;
    font-size: 20px;
    box-shadow: 0 0 8px 0
    rgba(0,0,0,0.32),0 0 16px 0 rgba(0,0,0,0.16);
}

.animate-bottom{
    animation: animatebottom 0.5s;
}

@keyframes animatebottom{
    from{
        bottom: -300px;
        opacity: 0;
    }
    to{
        bottom: 0;
        opacity: 1;
    }
}

.row-items{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    padding: auto 8px;
}

.text-fill{
    text-align: justify;

}

.text-wrap {
    word-wrap: break-word;
    hyphens: none;
}
