<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple AIOHTTP App</title>
    <link rel="shortcut icon" href="{{ static('cat-face-outline_32.png') }}" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="{{ static('styles.css') }}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ static('AjaxScript.js') }}" defer></script>
    <script type="text/javascript" src="{{ static('MainScript.js') }}" defer></script>
    <script type="text/javascript" src="{{ static('UiScript.js') }}" defer></script>
</head>
<body>
    <header>
        <h2 class="centered-text">Simple AIOHTTP App</h2>
    </header>
    <main id="main-content" class="main-content width-90 centered">
        <div id="content-container" class="height-100 row-items margin-24">
            <div class="card-content-container actions">
                <h3  class="left-text">Actions:</h3>
                <div>
                    <p>- save some data to MySql / Redis</p>
                    <p>- get all data from MySql / Redis</p>
                    <p>- get post actions log</p>
                </div>
                <textarea class="resizedBox width-80 padding-16" id="data-action" name="data-action" value="" placeholder="Data"/></textarea>
                <div id="actions-container" class="row-items padding-16">
                    <button id="save-sql-button" class="button animated">Save to SQL</button>
                    <button id="save-redis-button" class="button animated">Save to Redis</button>
                    <button id="get-sql-button" class="button animated">Get SQL data</button>
                    <button id="get-redis-button" class="button animated">Get Redis data</button>
                    <button id="get-log-button" class="button animated">Get Log</button>
                </div>
                <div class="height-100"></div>
            </div>
            <div class="card-content-container results">
                <h3 class="centered-text"><span id="results-header"></span>&nbsp;Results</h3>
                <div id="results-container" class="parent"></div>
            </div>
        </div>
    </main>
    <footer id="footer">
        <p class="centered-text footer-content">Maks&nbsp;Tulin&nbsp;2020</p>
    </footer>
    <!-- Message -->
    <div class="animate-bottom alert padding-16" style="display:none"  id="message">
        {% include 'message.html' %}
    </div>
    <!-- END Message -->
</body>
</html>
